In [1]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = " https://www.espncricinfo.com/records/highest-career-batting-average-282910"
r = requests.get(url)
print(r)

<Response [200]>

In [4]:
soup = BeautifulSoup(r.text, 'lxml')
table_all = soup.find("div", class_="ds-overflow-x-auto ds-scrollbar-hide")
print(table_all.text)

PlayerSpanMatInnsNORunsHSAveBFSR1005004s6sDG Bradman (AUS)1928-1948528010699633499.949800+58.6029137626+6HC Brook (ENG)2022-202312201118118662.15128791.7647114123AC Voges (AUS)2015-2016203171485269*61.87266755.685421865RG Pollock (SA)1963-197023414225627460.971707+54.487111246+11GA Headley (WI)1930-1954224042190270*60.83416+56.001052104+1H Sutcliffe (ENG)1924-193554849455519460.736558+34.5916232202+6E Paynter (ENG)1931-193920315154024359.231288+45.88473125+4KF Barrington (ENG)1955-19688213115680625658.674957+42.4220355591+27ED Weekes (WI)1948-195848815445520758.61--15196258+2SPD Smith (AUS)2010-202310218122932023958.611729253.8932399102652WR Hammond (ENG)1927-194785140167249336*58.457491+38.0722244419+27GS Sobers (WI)1954-197493160218032365*57.784063+53.58263012593+32+KC Sangakkara (SL)2000-2015134233171240031957.402288254.19385211149151DJ Mitchell (NZ)2019-202318274131619057.21239554.9458113026JB Hobbs (ENG)1908-1930611027541021156.945363+46.2215284276+8CL Walcott (WI)1948-196044747379822056.68--15141107+11L Hutton (ENG)1937-19557913815697136456.672844+39.3419335358+7JH Kallis (ICC/SA)1995-2013166280401328922455.372890345.97455816148897GE Tyldesley (ENG)1921-19291420299012255.00178+29.2136237+2KS Williamson (NZ)2010-20239416416812425154.891578551.4628331089721CA Davis (WI)1968-197315295130118354.20665+35.4844165+1VG Kambli (IND)1993-199517211108422754.20182359.464331246GS Chappell (AUS)1970-198487151197110247*53.8613079+51.5324311275516AD Nourse (SA)1935-195134627296023153.81108+63.889143115+6SR Tendulkar (IND)1989-20132003293315921248*53.7829437+54.045168142058+69M Labuschagne (AUS)2018-202343765378921553.36714653.021116442712BC Lara (ICC/WI)1990-2006131232611953400*52.881975360.51344817155988Javed Miandad (PAK)1976-1993124189218832280*52.5715164+45.9923436788+48R Dravid (ICC/IND)1996-2012164286321328827052.313125842.5136638165421Mohammad Yousuf (PAK)1998-20109015612753022352.291437252.3924331195751Younis Khan (PAK)2000-2017118213191009931352.051937552.12343319108270RT Ponting (AUS)1995-2012168287291337825751.852278258.72416217150973J Ryder (AUS)1920-1929203251394201*51.622035+44.86391102+3A Flower (ZIM)1992-200263112194794232*51.541063645.071227554320MEK Hussey (AUS)2005-20137913716623519551.521243650.1319291268539S Chanderpaul (WI)1994-20151642804911867203*51.372739543.31306615128536SM Gavaskar (IND)1971-19871252141610122236*51.1214184+43.35344512908+26SR Waugh (AUS)1985-2004168260461092720051.062246148.64325022117520Abdullah Shafique (PAK)2021-202314262122020150.83276444.1344211918ML Hayden (AUS)1994-200910318414862538050.731434960.10302914104982AB de Villiers (SA)2004-2018114191188765278*50.661607754.5122468102464AR Border (AUS)1978-1994156265441117420550.5627002+41.09276311116128JE Root (ENG)2012-2023135247201141625450.292011356.75306012124743IVA Richards (WI)1974-199112118212854029150.239613+69.77244510952+84DP Conway (NZ)2021-202316291140320050.10271951.594821776DCS Compton (ENG)1937-19577813115580727850.062731+38.81172810342+3DPMD Jayawardene (SL)1997-2014149252151181437449.842295951.45345015138761Inzamam-ul-Haq (ICC/PAK)1992-200712020022883032949.601634554.02254615110548FMM Worrell (WI)1948-196351879386026149.48488+40.1692211240+11CP Mead (ENG)1911-1928172621185182*49.37619+30.0443338+0V Sehwag (ICC/IND)2001-20131041806858631949.341044182.23233216123391V Kohli (IND)2011-2023111187118676254*49.291570855.2329291496624Abid Ali (PAK)2019-2021162621180215*49.16244548.264321485MJ Clarke (AUS)2004-2015115198228643329*49.101545655.922827997839KC Bland (SA)1961-1966213951669144*49.08885+37.74392123+20B Mitchell (SA)1929-1949428093471189*48.88158+29.11821341+1Hon.FS Jackson (ENG)1893-1905203341415144*48.79--56351+0TT Samaraweera (SL)2001-20138113220546223148.761164146.921430116337RN Harvey (AUS)1948-19637913710614920548.411799+43.7421247427+1KD Walters (AUS)1965-19817412514535725048.268662+49.1615334525+23GC Smith (ICC/SA)2002-201411720513926527748.251552559.67273811116524WH Ponsford (AUS)1924-193429484212226648.223118+44.77761119+0SJ McCabe (AUS)1930-193839625274823248.213217+60.026134241+5+DR Jardine (ENG)1928-193422336129612748.002110+25.59110253+0

In [6]:
table_head1 = table_all.find('thead', class_='ds-bg-fill-content-alternate ds-text-left')
print(table_head1.text)

PlayerSpanMatInnsNORunsHSAveBFSR1005004s6s

In [19]:
titles = ['Player','Span', 'Mat','Inns','NO','Runs','HS','Ave','BF','SR','100','50','0','4s','6s']
df = pd.DataFrame(columns=titles)

In [20]:
print(df)

Empty DataFrame
Columns: [Player, Span, Mat, Inns, NO, Runs, HS, Ave, BF, SR, 100, 50, 0, 4s, 6s]
Index: []

In [14]:
rows = table_all.find_all('tr')
#print(rows)
for i in rows[1: ]:
    data = i.find_all("td")
#     print(data)
    row = [tr.text for tr in data]
#     print(row)
    l=len(df)
    df.loc[l] = row
    
print(df)

               Player       Span  Mat Inns  NO  Runs    HS    Ave     BF  \
0    DG Bradman (AUS)  1928-1948   52   80  10  6996   334  99.94  9800+
1      HC Brook (ENG)  2022-2023   12   20   1  1181   186  62.15   1287
2      AC Voges (AUS)  2015-2016   20   31   7  1485  269*  61.87   2667
3     RG Pollock (SA)  1963-1970   23   41   4  2256   274  60.97  1707+
4     GA Headley (WI)  1930-1954   22   40   4  2190  270*  60.83   416+
..                ...        ...  ...  ...  ..   ...   ...    ...    ...
59   KD Walters (AUS)  1965-1981   74  125  14  5357   250  48.26  8662+
60  GC Smith (ICC/SA)  2002-2014  117  205  13  9265   277  48.25  15525
61  WH Ponsford (AUS)  1924-1934   29   48   4  2122   266  48.22  3118+
62    SJ McCabe (AUS)  1930-1938   39   62   5  2748   232  48.21  3217+
63   DR Jardine (ENG)  1928-1934   22   33   6  1296   127  48.00  2110+

       SR 100  50   0    4s  6s
0   58.60  29  13   7  626+   6
1   91.76   4   7   1   141  23
2   55.68   5   4   2   186   5
3   54.48   7  11   1  246+  11
4   56.00  10   5   2  104+   1
..    ...  ..  ..  ..   ...  ..
59  49.16  15  33   4  525+  23
60  59.67  27  38  11  1165  24
61  44.77   7   6   1  119+   0
62  60.02   6  13   4  241+  5+
63  25.59   1  10   2   53+   0

[64 rows x 15 columns]

In [18]:
df.to_csv("Match Results.csv")

In [131]:
df= pd.read_csv(r'Match Results_1.csv')

In [132]:
df

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
2,1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
3,2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,59,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
64,60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
65,61,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
66,62,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
67,63,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [133]:
df = df.rename(columns={'Unnamed':'No','Mat':'Matches','No':'Not_Out',  'HS':'High_Score', 'Ave':'Average', 'BF':'Balls_faced', 'SR':'Strike_Rate'})

In [134]:
df

,Unnamed: 0,Player,Span,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s
0,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
2,1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
3,2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,59,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
64,60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
65,61,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
66,62,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
67,63,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [135]:
df.isnull().any()

Unnamed: 0     False
Player         False
Span           False
Matches        False
Inns           False
NO             False
Runs           False
High_Score     False
Average        False
Balls_faced    False
Strike_Rate    False
100            False
50             False
0              False
4s             False
6s             False
dtype: bool

In [136]:
df.head(10)

,Unnamed: 0,Player,Span,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s
0,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
2,1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
3,2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
5,4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
6,5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
7,6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4
8,7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591+,27
9,8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,-,-,15,19,6,258+,2

In [137]:
df.iloc[:, 0] = df.iloc[:, 0].replace('^\s*$',100, regex=True)
print(df)

    Unnamed: 0             Player       Span  Matches  Inns  NO  Runs  \
0            0   DG Bradman (AUS)  1928-1948       52    80  10  6996
1            0   DG Bradman (AUS)  1928-1948       52    80  10  6996
2            1     HC Brook (ENG)  2022-2023       12    20   1  1181
3            2     AC Voges (AUS)  2015-2016       20    31   7  1485
4            3    RG Pollock (SA)  1963-1970       23    41   4  2256
..         ...                ...        ...      ...   ...  ..   ...
63          59   KD Walters (AUS)  1965-1981       74   125  14  5357
64          60  GC Smith (ICC/SA)  2002-2014      117   205  13  9265
65          61  WH Ponsford (AUS)  1924-1934       29    48   4  2122
66          62    SJ McCabe (AUS)  1930-1938       39    62   5  2748
67          63   DR Jardine (ENG)  1928-1934       22    33   6  1296

   High_Score  Average Balls_faced Strike_Rate  100  50   0    4s  6s
0         334    99.94       9800+        58.6   29  13   7  626+   6
1         334    99.94       9800+        58.6   29  13   7  626+   6
2         186    62.15        1287       91.76    4   7   1   141  23
3        269*    61.87        2667       55.68    5   4   2   186   5
4         274    60.97       1707+       54.48    7  11   1  246+  11
..        ...      ...         ...         ...  ...  ..  ..   ...  ..
63        250    48.26       8662+       49.16   15  33   4  525+  23
64        277    48.25       15525       59.67   27  38  11  1165  24
65        266    48.22       3118+       44.77    7   6   1  119+   0
66        232    48.21       3217+       60.02    6  13   4  241+  5+
67        127    48.00       2110+       25.59    1  10   2   53+   0

[68 rows x 16 columns]

In [138]:
df.head(10)

,Unnamed: 0,Player,Span,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s
0,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
2,1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
3,2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
5,4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
6,5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
7,6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4
8,7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591+,27
9,8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,-,-,15,19,6,258+,2

In [139]:
df[df['Balls_faced'].isna()==1]

Empty DataFrame
Columns: [Unnamed: 0, Player, Span, Matches, Inns, NO, Runs, High_Score, Average, Balls_faced, Strike_Rate, 100, 50, 0, 4s, 6s]
Index: []

In [140]:
df['Balls_faced'] = df['Balls_faced'].replace('-', 0)

In [141]:
df.head(10)

,Unnamed: 0,Player,Span,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s
0,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
2,1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
3,2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
5,4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
6,5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
7,6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4
8,7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591+,27
9,8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,-,15,19,6,258+,2

In [142]:


#replaced all the - with 0
df['Strike_Rate'] = df['Strike_Rate'].replace('-', 0)

In [143]:
df.head(10)

,Unnamed: 0,Player,Span,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s
0,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
2,1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
3,2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
5,4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
6,5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
7,6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4
8,7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591+,27
9,8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,0,15,19,6,258+,2

In [144]:
###drop duplicates
df.duplicated()

0     False
1      True
2     False
3     False
4     False
      ...
63    False
64    False
65    False
66    False
67    False
Length: 68, dtype: bool

In [145]:
df[df['Player'].duplicated()==1]

,Unnamed: 0,Player,Span,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s
1,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
16,14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
28,25,M Labuschagne (AUS),2018-2023,43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12
55,51,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24

In [146]:
df[df['Player'].isin(['DG Bradman (AUS)','JB Hobbs (ENG)','M Labuschagne (AUS)','V Kohli (IND)'])]

,Unnamed: 0,Player,Span,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s
0,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
15,14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
16,14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
27,25,M Labuschagne (AUS),2018-2023,43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12
28,25,M Labuschagne (AUS),2018-2023,43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12
54,51,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24
55,51,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24

In [147]:
df = df.drop_duplicates()

In [149]:

#dropped the unnamed column 
df = df.drop(columns=['Unnamed: 0'])
print(df)

               Player       Span  Matches  Inns  NO  Runs High_Score  Average  \
0    DG Bradman (AUS)  1928-1948       52    80  10  6996        334    99.94
2      HC Brook (ENG)  2022-2023       12    20   1  1181        186    62.15
3      AC Voges (AUS)  2015-2016       20    31   7  1485       269*    61.87
4     RG Pollock (SA)  1963-1970       23    41   4  2256        274    60.97
5     GA Headley (WI)  1930-1954       22    40   4  2190       270*    60.83
..                ...        ...      ...   ...  ..   ...        ...      ...
63   KD Walters (AUS)  1965-1981       74   125  14  5357        250    48.26
64  GC Smith (ICC/SA)  2002-2014      117   205  13  9265        277    48.25
65  WH Ponsford (AUS)  1924-1934       29    48   4  2122        266    48.22
66    SJ McCabe (AUS)  1930-1938       39    62   5  2748        232    48.21
67   DR Jardine (ENG)  1928-1934       22    33   6  1296        127    48.00

   Balls_faced Strike_Rate  100  50   0    4s  6s
0        9800+        58.6   29  13   7  626+   6
2         1287       91.76    4   7   1   141  23
3         2667       55.68    5   4   2   186   5
4        1707+       54.48    7  11   1  246+  11
5         416+          56   10   5   2  104+   1
..         ...         ...  ...  ..  ..   ...  ..
63       8662+       49.16   15  33   4  525+  23
64       15525       59.67   27  38  11  1165  24
65       3118+       44.77    7   6   1  119+   0
66       3217+       60.02    6  13   4  241+  5+
67       2110+       25.59    1  10   2   53+   0

[64 rows x 15 columns]

In [150]:
df

,Player,Span,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
2,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
64,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
65,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
66,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
67,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [151]:
df[df['Player'].isin(['DG Bradman (AUS)','JB Hobbs (ENG)','M Labuschagne (AUS)','V Kohli (IND)'])]

,Player,Span,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
27,M Labuschagne (AUS),2018-2023,43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12
54,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24

In [152]:
#split up span into start and end date
df['Span'].str.split(pat='-')

0     [1928, 1948]
2     [2022, 2023]
3     [2015, 2016]
4     [1963, 1970]
5     [1930, 1954]
          ...
63    [1965, 1981]
64    [2002, 2014]
65    [1924, 1934]
66    [1930, 1938]
67    [1928, 1934]
Name: Span, Length: 64, dtype: object

In [153]:
df['Span'].str.split(pat='-').str[0]

0     1928
2     2022
3     2015
4     1963
5     1930
      ...
63    1965
64    2002
65    1924
66    1930
67    1928
Name: Span, Length: 64, dtype: object

In [154]:
df['Rookie-Year']=df['Span'].str.split(pat='-').str[0]

In [155]:
df['Final-Year']=df['Span'].str.split(pat='-').str[1]

In [156]:
df

,Player,Span,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s,Rookie-Year,Final-Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948
2,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
3,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
64,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
65,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
66,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
67,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [157]:
df = df.drop(columns=['Span'])
print(df)

               Player  Matches  Inns  NO  Runs High_Score  Average  \
0    DG Bradman (AUS)       52    80  10  6996        334    99.94
2      HC Brook (ENG)       12    20   1  1181        186    62.15
3      AC Voges (AUS)       20    31   7  1485       269*    61.87
4     RG Pollock (SA)       23    41   4  2256        274    60.97
5     GA Headley (WI)       22    40   4  2190       270*    60.83
..                ...      ...   ...  ..   ...        ...      ...
63   KD Walters (AUS)       74   125  14  5357        250    48.26
64  GC Smith (ICC/SA)      117   205  13  9265        277    48.25
65  WH Ponsford (AUS)       29    48   4  2122        266    48.22
66    SJ McCabe (AUS)       39    62   5  2748        232    48.21
67   DR Jardine (ENG)       22    33   6  1296        127    48.00

   Balls_faced Strike_Rate  100  50   0    4s  6s Rookie-Year Final-Year
0        9800+        58.6   29  13   7  626+   6        1928       1948
2         1287       91.76    4   7   1   141  23        2022       2023
3         2667       55.68    5   4   2   186   5        2015       2016
4        1707+       54.48    7  11   1  246+  11        1963       1970
5         416+          56   10   5   2  104+   1        1930       1954
..         ...         ...  ...  ..  ..   ...  ..         ...        ...
63       8662+       49.16   15  33   4  525+  23        1965       1981
64       15525       59.67   27  38  11  1165  24        2002       2014
65       3118+       44.77    7   6   1  119+   0        1924       1934
66       3217+       60.02    6  13   4  241+  5+        1930       1938
67       2110+       25.59    1  10   2   53+   0        1928       1934

[64 rows x 16 columns]

In [158]:
df['Player'].str.split(pat='(')

0      [DG Bradman , AUS)]
2        [HC Brook , ENG)]
3        [AC Voges , AUS)]
4       [RG Pollock , SA)]
5       [GA Headley , WI)]
              ...
63     [KD Walters , AUS)]
64    [GC Smith , ICC/SA)]
65    [WH Ponsford , AUS)]
66      [SJ McCabe , AUS)]
67     [DR Jardine , ENG)]
Name: Player, Length: 64, dtype: object

In [159]:
df['Country'] = df['Player'].str.split(pat='(').str[1]

In [160]:
df['Country']=df['Country'].str.split(pat=')').str[0]

In [161]:
df.head()

,Player,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s,Rookie-Year,Final-Year,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948,AUS
2,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG
3,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
5,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954,WI

In [162]:
df['Player'] = df['Player'].str.split(pat='(').str[0]

In [163]:
df.head()

,Player,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s,Rookie-Year,Final-Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948,AUS
2,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG
3,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
5,GA Headley,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954,WI

In [164]:
df.dtypes

Player          object
Matches          int64
Inns             int64
NO               int64
Runs             int64
High_Score      object
Average        float64
Balls_faced     object
Strike_Rate     object
100              int64
50               int64
0                int64
4s              object
6s              object
Rookie-Year     object
Final-Year      object
Country         object
dtype: object

In [165]:
df["High_Score"].str.split(pat='*').str[0]

0     334
2     186
3     269
4     274
5     270
     ...
63    250
64    277
65    266
66    232
67    127
Name: High_Score, Length: 64, dtype: object

In [166]:
df['High_Score']=df["High_Score"].str.split(pat='*').str[0]

In [167]:
df['High_Score'].astype('int')

0     334
2     186
3     269
4     274
5     270
     ...
63    250
64    277
65    266
66    232
67    127
Name: High_Score, Length: 64, dtype: int32

In [168]:
df["Balls_faced"]=df["Balls_faced"].str.split(pat='+').str[0]

In [169]:
df['Balls_faced'] = df['Balls_faced'].replace('-', 0)

In [177]:
df['Balls_faced']=df['Balls_faced'].astype('float64')

In [171]:
df

,Player,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s,Rookie-Year,Final-Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626+,6,1928,1948,AUS
2,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG
3,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA
5,GA Headley,22,40,4,2190,270,60.83,416,56,10,5,2,104+,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS
64,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
65,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS
66,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS
67,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG

In [172]:
df["4s"]=df["4s"].str.split(pat='+').str[0]
df['4s'] = df['4s'].replace('-', 0)

In [173]:
df['4s']=df['4s'].astype('int')

In [101]:
df

0      626
2      141
3      186
4      246
5      104
      ...
63     525
64    1165
65     119
66     241
67      53
Name: 4s, Length: 64, dtype: int32

In [175]:
df["6s"]=df["6s"].str.split(pat='+').str[0]
df['6s'] = df['6s'].replace('-', 0)
df['6s']=df['6s'].astype('int')

In [96]:
df

,Player,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,4s,6s,Rookie-Year,Final-Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.6,29,13,626,6,1928,1948,AUS
2,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,141,23,2022,2023,ENG
3,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,186,5,2015,2016,AUS
4,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,246,11,1963,1970,SA
5,GA Headley,22,40,4,2190,270,60.83,416,56,10,5,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,525,23,1965,1981,AUS
64,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,1165,24,2002,2014,ICC/SA
65,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,119,0,1924,1934,AUS
66,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,241,5,1930,1938,AUS
67,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,53,0,1928,1934,ENG

In [178]:
df.dtypes

Player          object
Matches          int64
Inns             int64
NO               int64
Runs             int64
High_Score      object
Average        float64
Balls_faced    float64
Strike_Rate     object
100              int64
50               int64
0                int64
4s               int32
6s               int32
Rookie-Year     object
Final-Year      object
Country         object
dtype: object

In [103]:
df

0      626
2      141
3      186
4      246
5      104
      ...
63     525
64    1165
65     119
66     241
67      53
Name: 4s, Length: 64, dtype: int32

In [179]:
df['Rookie-Year']=df['Rookie-Year'].astype('int')

In [180]:
df['Final-Year']=df['Final-Year'].astype('int')

In [181]:
df.dtypes

Player          object
Matches          int64
Inns             int64
NO               int64
Runs             int64
High_Score      object
Average        float64
Balls_faced    float64
Strike_Rate     object
100              int64
50               int64
0                int64
4s               int32
6s               int32
Rookie-Year      int32
Final-Year       int32
Country         object
dtype: object

In [183]:
df=df.astype({'High_Score':'int','Strike_Rate':'float'})

In [184]:
df.dtypes

Player          object
Matches          int64
Inns             int64
NO               int64
Runs             int64
High_Score       int32
Average        float64
Balls_faced    float64
Strike_Rate    float64
100              int64
50               int64
0                int64
4s               int32
6s               int32
Rookie-Year      int32
Final-Year       int32
Country         object
dtype: object

In [185]:
df['career_length']=df['Final-Year']-df['Rookie-Year']

In [186]:
df

,Player,Matches,Inns,NO,Runs,High_Score,Average,Balls_faced,Strike_Rate,100,50,0,4s,6s,Rookie-Year,Final-Year,Country,career_length
0,DG Bradman,52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6,1928,1948,AUS,20
2,HC Brook,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023,ENG,1
3,AC Voges,20,31,7,1485,269,61.87,2667.0,55.68,5,4,2,186,5,2015,2016,AUS,1
4,RG Pollock,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970,SA,7
5,GA Headley,22,40,4,2190,270,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,KD Walters,74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965,1981,AUS,16
64,GC Smith,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
65,WH Ponsford,29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0,1924,1934,AUS,10
66,SJ McCabe,39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938,AUS,8
67,DR Jardine,22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934,ENG,6

In [187]:
#average career length of the players in the DF
df['career_length'].mean()

12.75

In [188]:
#AVG Batting strike rate of the players
df['Strike_Rate'].mean()

47.53234375

In [194]:
#AVG Batting strike rate of the players with career length greater than 10 years 

df[df['career_length']>10]['Strike_Rate'].mean()

47.95454545454545

In [199]:
#finding number of players who played before 1960
df[df['Final-Year']<1960]['Player']
#df[df['Final-Year']<1960]['Player'].count()

0         DG Bradman
5         GA Headley
6        H Sutcliffe
7          E Paynter
9          ED Weekes
11        WR Hammond
15          JB Hobbs
18          L Hutton
20      GE Tyldesley
25         AD Nourse
35           J Ryder
48       DCS Compton
52           CP Mead
59        B Mitchell
60    Hon.FS Jackson
65       WH Ponsford
66         SJ McCabe
67        DR Jardine
Name: Player, dtype: object

In [206]:
#max high score by country
df.groupby('Country')['High_Score'].max().to_frame('High_Score_cunt').reset_index().sort_values('High_Score_cunt', ascending=False)

    Country  High_Score_cunt
5    ICC/WI              400
0       AUS              380
10       SL              374
11       WI              365
1       ENG              364
3   ICC/PAK              329
2   ICC/IND              319
8       PAK              313
9        SA              278
4    ICC/SA              277
6       IND              254
7        NZ              251
12      ZIM              232

In [207]:
#fifties 
df.groupby('Country')[['100','50','0']].mean()

               100         50          0
Country
AUS      20.625000  28.000000   8.500000
ENG      12.307692  20.769231   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.250000  10.750000
NZ       12.333333  16.333333   4.333333
PAK      17.800000  23.200000   8.000000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000